.joji {
    background-image: url("../../assets/joji.jpg");
}


.tyler {
    background-image: url("../../assets/tyler_the_creator.jpg");
}

.jcole {
    background-image: url("../../assets/jCole.jpg");
}


.joji,
.tyler,
.jcole {
    height: 100vh;
    width: 100%;
    background-position: center center;
    background-size: cover;
    
}

.carousel-control-prev span {
    background: url("../../assets/svg/arrow-circle-left.svg");
    background-size: cover;
    background-position: center center;
}
.carousel-control-next span {
    background-image: url("../../assets/svg/arrow-circle-right.svg");
    background-size: cover;
    background-position: center center;
}
